        <div class="info_accordion">
          <h3>Map Info</h3>
          <div>
            <p><!-- $$$$INFO$$$$ --></p>
            <p>
                <label><input type="checkbox" class="chk_hill" checked/>Hills</label>
                <label><input type="checkbox" class="chk_forest" checked/>Forests</label>
                <label><input type="checkbox" class="chk_jungle" checked/>Jungles</label>
            </p>
            <p>
            <label><input type="checkbox" class="chk_food" checked/>Food</label>
            <label><input type="checkbox" class="chk_estrat" checked/>Early Strategic</label>
            <label><input type="checkbox" class="chk_mstrat" checked/>Modern Strategic</label>
            <label><input type="checkbox" class="chk_alux" checked/>Ancient Luxuries</label>
            <label><input type="checkbox" class="chk_clux" checked/>Classical Luxuries (including jungled ancients)</label>
            </p>
          </div>
        </div>